

.body1{
	text-align:  center;
	background-color: blue;
}
.body{
	text-align: center;
	
	background-color: lightblue;
}

.header{
	color: cyan;
	text-align: center;
}

.button{
	 text-align: center;
}

.abcd {
	color: blue;
	background-color: red;
}